## Marketing_Campaigns Project :--

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from scipy import stats

In [3]:
Marketing_Camp = pd.read_csv(r"C:\Users\chhav\OneDrive\Desktop\Data Science with python\Cource end Projects\1_marketing_datasets\marketing_data_set.csv")

In [4]:
pd.set_option("display.max_columns", None)

In [5]:
Marketing_Camp

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,189,104,379,111,189,218,1,4,4,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,0,464,5,64,7,0,37,1,7,3,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,0,134,11,59,15,2,30,1,3,2,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,05-11-2014,0,10,0,1,0,0,0,1,1,0,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,04-08-2014,0,6,16,24,11,0,34,2,3,1,2,7,1,0,0,0,0,1,0,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",0,1,03-07-2013,99,372,18,126,47,48,78,2,5,2,11,4,0,0,0,0,0,0,0,US
2236,5263,1977,2n Cycle,Married,"$31,056.00",1,0,1/22/13,99,5,10,13,3,8,16,1,1,0,3,8,0,0,0,0,0,0,0,SP
2237,22,1976,Graduation,Divorced,"$46,310.00",1,0,12-03-2012,99,185,2,88,15,5,14,2,6,1,5,8,0,0,0,0,0,0,0,SP
2238,528,1978,Graduation,Married,"$65,819.00",0,0,11/29/12,99,267,38,701,149,165,63,1,5,4,10,3,0,0,0,0,0,0,0,IND
2239,4070,1969,PhD,Married,"$94,871.00",0,2,09-01-2012,99,169,24,553,188,0,144,1,8,5,4,7,0,1,1,0,0,1,0,CA

In [6]:
# Knowing the data
Marketing_Camp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4    Income              2216 non-null   object
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Response             2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Country              2240 non-null   object
dtypes: int64(23), object(5)
memory usage: 490.1+ KB

In [7]:
Marketing_Camp.describe()

,ID,Year_Birth,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain
count,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000
mean,5592.159821,1968.805804,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,27.062946,44.021875,2.325000,4.084821,2.662054,5.790179,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.149107,0.009375
std,3246.662198,11.984069,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,41.280498,52.167439,1.932238,2.778714,2.923101,3.250958,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.356274,0.096391
min,0.000000,1893.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2828.250000,1959.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,1.000000,9.000000,1.000000,2.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5458.500000,1970.000000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,8.000000,24.000000,2.000000,4.000000,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8427.750000,1977.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,33.000000,56.000000,3.000000,6.000000,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11191.000000,1996.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,263.000000,362.000000,15.000000,27.000000,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### Clean the data

In [9]:
Marketing_Camp.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
 Income                24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Response                0
Complain                0
Country                 0
dtype: int64

In [10]:
## Clean the row
Marketing_Camp.columns = Marketing_Camp.columns.str.strip()

In [11]:
Marketing_Camp.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Response', 'Complain', 'Country'],
      dtype='object')

In [12]:
# Convert columns data types
Marketing_Camp['Income'] = Marketing_Camp['Income'].str.replace('[\$,]','', regex = True).str.strip().astype(float)

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\chhav\AppData\Local\Temp\ipykernel_5160\2671102223.py:2: SyntaxWarning: invalid escape sequence '\$'
  Marketing_Camp['Income'] = Marketing_Camp['Income'].str.replace('[\$,]','', regex = True).str.strip().astype(float)

In [13]:
Marketing_Camp["Dt_Customer"] = pd.to_datetime(Marketing_Camp["Dt_Customer"])

C:\Users\chhav\AppData\Local\Temp\ipykernel_5160\2704345016.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Marketing_Camp["Dt_Customer"] = pd.to_datetime(Marketing_Camp["Dt_Customer"])

In [14]:
Marketing_Camp["Month"] = Marketing_Camp["Dt_Customer"].dt.month
Marketing_Camp[["Dt_Customer","Month"]].head(10)

  Dt_Customer  Month
0  2014-06-16      6
1  2014-06-15      6
2  2014-05-13      5
3  2014-05-11      5
4  2014-04-08      4
5  2014-03-17      3
6  2014-01-29      1
7  2014-01-18      1
8  2014-01-11      1
9  2014-01-11      1

In [15]:
# Handling missing values
# Fill missing income values using median based on education & marital status
grouped_income = marketing_data.groupby(['Education', 'Marital_Status'])['Income'].median()
grouped_income

In [ ]:
Marketing_Camp['Income'] = Marketing_Camp.apply(lambda row: grouped_income.loc[row['Education'], row['Marital_Status']] if np.isnan(row['Income']) else row['Income'], axis=1)

In [16]:
## Creating new coulmn for better insights
Marketing_Camp["Total no. of children"] = Marketing_Camp['Kidhome'] + Marketing_Camp['Teenhome']

In [17]:
Marketing_Camp["Age"] = 2025 - Marketing_Camp["Year_Birth"]

In [18]:
Marketing_Camp["Total spending"] = Marketing_Camp["MntWines"] + Marketing_Camp["MntFruits"] + Marketing_Camp["MntMeatProducts"] + Marketing_Camp['MntFishProducts'] + Marketing_Camp['MntSweetProducts'] + Marketing_Camp['MntGoldProds']

In [38]:
Marketing_Camp["Total Purchases"] = Marketing_Camp['NumDealsPurchases'] + Marketing_Camp['NumWebPurchases'] + Marketing_Camp['NumCatalogPurchases'] + Marketing_Camp['NumStorePurchases']

In [40]:
print(Marketing_Camp[["ID","Total no. of children","Age","Total spending","Total Purchases"]])

         ID  Total no. of children  Age  Total spending  Total Purchases
0      1826                      0   55            1190               15
1         1                      0   64             577               18
2     10476                      1   67             251               11
3      1386                      2   58              11                4
4      5371                      1   36              91                8
...     ...                    ...  ...             ...              ...
2235  10142                      1   49             689               20
2236   5263                      1   48              55                5
2237     22                      1   49             309               14
2238    528                      0   47            1383               20
2239   4070                      2   56            1078               18

[2240 rows x 5 columns]

In [ ]:
## Total Purchases
#### Creating a Box plot
fig,axes=plt.subplots(nrows=2,ncols=2,figsize=(7,5))
plt1=sns.boxplot(Marketing_Camp['NumDealsPurchases'],color='blue',ax=axes[0,0])
plt2=sns.boxplot(Marketing_Camp['NumWebPurchases'],color='green',ax=axes[0,1])
plt3=sns.boxplot(Marketing_Camp['NumCatalogPurchases'],color='red',ax=axes[1,0])
plt4=sns.boxplot(Marketing_Camp['NumStorePurchases'],color='orange',ax=axes[1,1])
plt.show()

In [ ]:
## Treating Outliers using log transformation
Marketing_Camp['NumDealsPurchases'].apply(lambda x: np.log(x))
Marketing_Camp['NumWebPurchases'].apply(lambda x: np.log(x))
Marketing_Camp['NumCatalogPurchases'].apply(lambda x: np.log(x))
Marketing_Camp['NumStorePurchases'].apply(lambda x: np.log(x))

In [ ]:
# Histogram
sns.histplot(Marketing_Camp['Total spending'], bins=20, kde=True)
plt.title('Histogram: Distribution of total Spending')
plt.show()

In [ ]:
# EDA - Visualizations
plt.figure(figsize=(10, 5))
sns.boxplot(x=marketing_data['Age'])
plt.title('Age Distribution with Outliers')
plt.show()

plt.figure(figsize=(10, 5))
sns.histplot(marketing_data['Income'], bins=30, kde=True)
plt.title('Income Distribution')
plt.show()

In [ ]:
# Outlier Treatment
z_scores = np.abs(stats.zscore(marketing_data[['Income', 'Total_Spending']]))
marketing_data = marketing_data[(z_scores < 3).all(axis=1)]

In [ ]:
# One-Hot Encoding for the 'categorical variables'
encoder = OneHotEncoder(drop='first')
categorical_cols = ['Education', 'Marital_Status']
categorical_encoded = pd.DataFrame(encoder.fit_transform(Marketing_Camp[categorical_cols]).toarray(), columns=encoder.get_feature_names_out(categorical_cols))
marketing_Camp = pd.concat([Marketing_Camp, categorical_encoded], axis=1).drop(columns=categorical_cols)

# After one-hot encoding
print("\nDataFrame after one-hot encoding:")
print(Marketing_Camp)

In [ ]:
## Calculate correlation matrix for numeric columns only
correlation_matrix = Marketing_Camp.select_dtypes(include='number').corr()

# Plot Heatmap
plt.figure(figsize=(10,8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".1f")
plt.title('Heatmap of Correlation Matrix (Marketing Campaigns Dataset)')
plt.show()

### Hypothesis Testing

#### A. Older individuals may not possess the same level of technological proficiency and may, therefore, lean toward traditional in-store shopping preferences.

* Null Hypothesis (Hâ‚€): Older individuals (Age >50) and yonger individuals (Age <= 50) have no difference in their preference for in store shoping.

* Alternative Hypothesis (Hâ‚): Older individuals (Age > 50) likly to prefer traditional in-store shopping more than yonger individuals.

In [58]:
t_stats, p_value = stats.ttest_ind(Marketing_Camp[Marketing_Camp["Age"]>50]['NumStorePurchases'],Marketing_Camp[Marketing_Camp["Age"]<=50]['NumStorePurchases'])
print(f"T-statistic: {t_stat}, P-value: {p_value}")
if p_value < 0.05:  # 5% significance level
    print("Reject the null hypothesis: Age and shopping preferences are associated.")
else:
    print("Fail to reject the null hypothesis: No significant association.")

Reject the null hypothesis: Age and shopping preferences are associated.

 #### B.Customers with children likely experience time constraints, making online shopping a more convenient option.

* Null Hypothesis (Hâ‚€): Having children does not significantly impact the likelihood of choosing online shopping as a preferred option. There is no association between having children and shopping preferences.

* Alternative Hypothesis (Hâ‚): Having children increases the likelihood of choosing online shopping as a preferred option. There is a significant association between having children and shopping preferences.

In [ ]:
t_stat, p_value = stats.ttest_ind(marketing_data[marketing_data['Total_Children'] > 0]['NumWebPurchases'], marketing_data[marketing_data['Total_Children'] == 0]['NumWebPurchases'])
print(f"T-statistic: {t_stat}, P-value: {p_value}")
if p_value < 0.05:
    print("Reject H0: Customers with children significantly prefer online shopping.")
else:
    print("Fail to reject H0: No significant preference difference.")

#### C. Sales at physical stores may face the risk of cannibalization by alternative distribution channels.

* Null Hypothesis (Hâ‚€): Sales at physical stores are not significantly affected by alternative distribution channels. There is no cannibalization effect.

* Alternative Hypothesis (Hâ‚): Sales at physical stores are significantly reduced due to cannibalization by alternative distribution channels.

In [ ]:
t_stat, p_value = stats.ttest_ind(marketing_data['NumStorePurchases'], marketing_data[['NumWebPurchases', 'NumCatalogPurchases']].sum(axis=1))
print(f"T-statistic: {t_stat}, P-value: {p_value}")
if p_value < 0.05:
    print("Reject H0: Store sales are significantly affected by other channels.")
else:
    print("Fail to reject H0: No significant impact of other channels on store sales.")

#### D.Does the United States significantly outperform the rest of the world in total purchase volumes?

*  Null Hypothesis (H0): The total purchase volumes in the US and other countries are the same.
* Alternative Hypothesis (H1): The total purchase volume in the US is significantly different from other countries.

In [ ]:
t_stat, p_value = stats.ttest_ind(marketing_data[marketing_data['Country'] == 'US']['Total_Purchases'], marketing_data[marketing_data['Country'] != 'US']['Total_Purchases'])
print(f"T-statistic: {t_stat}, P-value: {p_value}")
if p_value < 0.05:
    print("Reject H0: The US has significantly different purchase volumes.")
else:
    print("Fail to reject H0: No significant difference in purchase volumes.")

### Appropriate visualization to help analyze the following: 
a. Identify the top-performing products and those with the lowest revenue.
b. Examine if there is a correlation between customers' age and the 
acceptance rate of the last campaign. 
c. Determine the country with the highest number of customers who 
accepted the last campaign. 
d. Investigate if there is a discernible pattern in the number of children at 
home and the total expenditure. 
e. Analyze the educational background of customers who lodged complaints 
in the last two years.

In [ ]:
# a. Identify top-performing and lowest-performing products
product_columns = ['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']
product_sales = marketing_Camp[product_columns].sum().sort_values(ascending=False)
plt.figure(figsize=(10, 7))
product_sales.plot(kind='bar', color='royalblue')
plt.title('Total Revenue by Product')
plt.ylabel('Total Sales')
plt.show()

In [ ]:
# b. Correlation between age and campaign acceptance
plt.figure(figsize=(9, 6))
sns.scatterplot(x=Marketing_Camp['Age'], y=Marketing_data['AcceptedCmp5'], alpha=0.5)
plt.title('Age vs Acceptance of Last Campaign')
plt.xlabel('Customer Age')
plt.ylabel('Campaign Acceptance Rate')
plt.show()

In [ ]:
# Statistical test (Mann-Whitney U test for non-normal distributions)
accepted = Marketing_Camp[Marketing_Camp['AcceptedCmp5'] == 1]['Age']
not_accepted = Marketing_Camp[Marketing_Camp['AcceptedCmp5'] == 0]['Age']
stat, p_value = stats.mannwhitneyu(accepted, not_accepted, alternative='two-sided')
print(f'Mann-Whitney U test result: U-statistic={stat}, P-value={p_value}')
if p_value < 0.05:
    print("Reject H0: There is a significant difference in age distribution between accepted and non-accepted campaigns.")
else:
    print("Fail to reject H0: No significant difference in age distribution.")

In [ ]:
# c. Country with highest campaign acceptance
country_acceptance = Marketing_Camp.groupby('Country')['AcceptedCmp5'].sum().sort_values(ascending=False)
plt.figure(figsize=(10, 5))
country_acceptance.plot(kind='bar', color='salmon')
plt.title('Total Campaign Acceptances by Country')
plt.xlabel("Country")
plt.ylabel('Number of Acceptances')
plt.show()

In [ ]:
# d. Relationship between number of children and total spending
plt.figure(figsize=(10, 5))
sns.boxplot(x=marketing_Camp['Total_Children'], y=marketing_Ca['Total_Spending'])
plt.title('Total Spending vs Number of Children')
plt.xlabel("Number of Children")
plt.ylabel("Total Expenditure")
plt.show()

In [ ]:
# e. Educational background of customers who lodged complaints
education_complaints = Marketing_Camp[Marketing_Camp['Complain'] == 1]['Education'].value_counts()
plt.figure(figsize=(10, 5))
education_complaints.plot(kind='bar', color='teal')
plt.title('Educational Background of Customers Who Lodged Complaints')
plt.xlabel("Education Background")
plt.ylabel('Number of Complaints')
plt.show()